{% extends 'Gestion_Libreros/base.html' %}
{% block content %}
    <div class="">
        <div class="row">
            <h5>Libros Añadidos recientemente</h5>
        </div>
        <div class="row">
            <div class="col s12 m12">
                <h6 class="header">Harry potter</h6>
                <div class="card horizontal">
                    <div class="card-image">
                        <img style="max-height: 260px" src="https://imagessl2.casadellibro.com/a/l/t0/62/9788498382662.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>
                               Harry Potter se ha quedado huérfano y vive en casa de sus abominables tíos y del insoportable primo Dudley. Harry se siente muy triste y solo, hasta que un buen día recibe una carta que cambiará su vida para siempre. En ella le comunican que ha sido aceptado como alumno en el colegio interno Hogwarts de magia y hechicería...
                            </p>
                            <p>
                                Autora: J. K. Rowling<br>
                                Editorial: Salamandra, letras de bolsillo.<br>
                                Edición: Marzo del 2012, Barcelona, España.
                                254 páginas
                                Tapa blanda.
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="#">Ver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
